{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="intro-section">
  <div class="container">
  <h1 class="faq-header">About Us</h1>
  <p>In a galaxy not so far away, we are a team of four computer science students from the University of Western Australia. This project, Bountify, is part of our mission for a unit in Agile Web Development.</p>
  
  <p>Meet our team of Jedi Developers:</p>
  <ul>
    <li><strong>Daniel Loo</strong> - Master Coder and Keeper of the Code</li>
    <li><strong>Helen Yang</strong> - Database Defender</li>
    <li><strong>Aaron Chin</strong> - Backend Bounty Hunter</li>
    <li><strong>Isabella Rowe</strong> - Guardian of the Frontend</li>
  </ul>
  
  <p>If you have any questions or need support, please contact us at <a href="mailto:bountyhunterteam.agile@gmail.com">bountyhunterteam.agile@gmail.com</a>. May the code be with you!</p>
</div>  
</div>
{% endblock %}