{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}

<div class="home">
    <br>
    <div class="title-container">
        <h1 class="star-text">Bounties</h1>
        <p class="description">Peep your next bounty</p>
        <a href="{{ url_for('routes.addbounty') }}" class="btn btn-primary add-bounty-btn">Add Bounty</a>
    </div>
    <div class="forum-section">
        <div class="post-container">
            <div class="row">
                {% for bounty in bounty_list %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="postbubble">
                        <img src="{{ url_for('static', filename='images/posts/' + bounty.img) }}" alt="bounty image">
                        <div class="screen-overlay overlay-animation">
                            <div class="posttext">
                                <div class="posttitle">
                                    <a href="/post/{{ bounty.pid }}">
                                        {{ bounty.title }}
                                    </a>
                                    {% if bounty.user.uid != current_user.uid %}
                                    <form action="{{ url_for('routes.activate_bounty', bounty_id=bounty.pid) }}"
                                        method="post">
                                        <button type="submit" class="activate-bounty-btn">Submit Interest</button>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="postauthor">
                                    <img src="{{ url_for('static', filename='images/profilepics/' + bounty.user.avatar) }}"
                                        class="small-avatar" alt="avatar" />
                                    {% if bounty.user.uid != current_user.uid %}
                                    {{ bounty.user.username }}
                                    {% else %}
                                    <a href="/profile">
                                        {{ bounty.user.username }}
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="postcontent">
                                    <p>{{ bounty.desc }}</p>
                                    <p>${{ bounty.price }}</p>
                                </div>
                                <div class="reactbar">
                                    <button id="likeButton-{{ bounty.pid }}" class="reactbutton like"
                                        onclick="toggleLike(this, {{ bounty.pid }})">
                                        {% if bounty.pid in lip %}
                                        <i class="fa fa-thumbs-up fa-lg"></i>
                                        {% else %}
                                        <i class="fa fa-thumbs-o-up fa-lg"></i>
                                        {% endif %}
                                    </button>
                                    <span id="likeCount-{{ bounty.pid }}" class="reactnumber">{{ bounty.likes }}</span>
                                    <button id="dislikeButton-{{ bounty.pid }}" class="reactbutton"
                                        onclick="toggleLike(this, {{ bounty.pid }})">
                                        {% if bounty.pid in dip %}
                                        <i class="fa fa-thumbs-down fa-lg"></i>
                                        {% else %}
                                        <i class="fa fa-thumbs-o-down fa-lg"></i>
                                        {% endif %}
                                    </button>
                                    <span id="dislikeCount-{{ bounty.pid }}" class="reactnumber">{{ bounty.dislikes
                                        }}</span>
                                    <button id="commentButton-{{ bounty.pid }}" class="reactbutton">
                                        <i class="fa fa-commenting-o fa-lg"></i>
                                    </button>
                                    <span id="commentCount-{{ bounty.pid }}" class="reactnumber">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}