{% extends "base.html" %}
{% block title %} Browse {% endblock %}
{% block content %}
<div class="intro-section">
  <h1 class="pagetitle">Browse</h1>
  <div class="search-container">
    <div class="row">
      <div class="col-12">
        <form class="form-inline searchbar-box" method="POST">
          <div class="input-group w-100">
            <input type="text" class="searchbarinput form-control" placeholder="Search" name="keyword" />
            <div class="input-group-append">
              <button class="searchbtn" type="submit">
                <i class="fa fa-search fa-lg"></i>
              </button>
              <div class="dropdown">
                <button class="searchbtn dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-filter fa-lg"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="filterDropdown">
                  <a class="dropdown-item filter-item" href="#" data-filter="recent">Most Recent</a>
                  <a class="dropdown-item filter-item" href="#" data-filter="likes">Most Liked</a>
                  <a class="dropdown-item filter-item" href="#" data-filter="interacts">Most Interacted</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="filterTagsContainer"></div>
  </div>
  <!-- BREAK -->

  <div class="forum-section">
    <div class="post-container">
      <div class="row">
        {% for post in posts %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="postbubble">
            <img src="{{ url_for('static', filename='/images/posts/' + post.img_filename) }}" alt="{{post.img_filename}}" />
            <div class="screen-overlay overlay-animation">
              <div class="posttext">
                <div class="posttitle">
                  <a href="/post/{{ post.pid }}">
                    {{ post.title }}
                  </a>
                  <br>
                  <div class="author">
                    <img src="{{ url_for('static', filename='/images/profilepics/' + post.user.avatar) }}" class="small-avatar" alt="avatar"/>
                    {% if post.user.uid != current_user.uid %}
                    <a href= "/view-other-userpf/{{ post.user.uid }}">
                      {{ post.user.username }}
                      {% else %}
                    <a href="/profile">
                      {{ post.user.username }}
                      {% endif %}
                    </a>
                  </div>
                </div>
                <div class="postcontent">{{ post.desc }}</div>
              </div>
              <div class="reactbar">
                <button id="likeButton" class="reactbutton like" onclick="toggleLike(this, {{ post.pid }})">
                  {% if post.pid in lip %}
                  <i id="likeIcon" class="fa fa-thumbs-up fa-lg"></i>
                  {% else %}
                  <i id="likeIcon" class="fa fa-thumbs-o-up fa-lg"></i>
                  {% endif %}
                </button>
                <span id="likeCount" class="reactnumber">{{ post.likes }}</span>
                <button id="dislikeButton" class="reactbutton" onclick="toggleLike(this, {{ post.pid }})">
                  {% if post.pid in dip %}
                  <i id="dislikeIcon" class="fa fa-thumbs-down fa-lg"></i>
                  {% else %}
                  <i id="dislikeIcon" class="fa fa-thumbs-o-down fa-lg"></i>
                  {% endif %}
                </button>
                <span id="dislikeCount" class="reactnumber">{{ post.dislikes }}</span>
                <button id="commentButton" class="reactbutton">
                  <i class="fa fa-commenting-o fa-lg"></i>
                </button>
                <span id="commentCount" class="reactnumber">0</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}