{% extends "base.html" %} {% block title %}Change
Password{% endblock %} {% block content %}
<div class="intro-section">
	<h1 class="pagetitle-edit">Change Password</h1>
	<form method="POST">
		{{ form.hidden_tag() }}
		<div class="edit">
			<div class="form-group">
				{{ form.old_password.label }} {{
				form.old_password(class="form-input-bubble",
				placeholder="Enter old password") }} {%
				for error in form.old_password.errors %}
				<span class="text-danger"
					>{{ error }}</span
				>
				{% endfor %}
			</div>
			<br />
			<div class="form-group">
				{{ form.new_password.label }} {{
				form.new_password(class="form-input-bubble",
				placeholder="Enter new password") }} {%
				for error in form.new_password.errors %}
				<span class="text-danger"
					>{{ error }}</span
				>
				{% endfor %}
			</div>
			<br />
			<div class="form-group">
				{{ form.confirm_new_password.label }} {{
				form.confirm_new_password(class="form-input-bubble",
				placeholder="Confirm new password") }} {%
				for error in
				form.confirm_new_password.errors %}
				<span class="text-danger"
					>{{ error }}</span
				>
				{% endfor %}
			</div>
			<br />
			<input
				class="btn-submit"
				type="submit"
				value="Submit" />
		</div>
	</form>
</div>
{% endblock %}
