{%extends "base.html"%} {% block title %}Discussion{% endblock %} {% block content
%}
<div class="form-section">
  <form action="" method="POST" enctype="multipart/form-data">
    <h2 class="form-header">Submit General Discussion Post </h2>
    <label class="sr-text" for="target">Target:</label>
    <input
      placeholder="Post Title"
      class="form-input-bubble"
      type="text"
      id="title"
      name="title"
    /><br />
    <label for="image">Upload Image:</label>
    <br />
    <input
      class="form-input-bubble"
      type="file"
      name="image"
      id="image"
    /><br />
    <label class="sr-text" for="tinfo">:</label>
    <input
      placeholder="Description"
      class="form-input-bubble"
      type="text"
      id="tinfo"
      name="desc"
    /><br />
    <input class="btn-submit" type="submit" value="submit" />
  </form>
</div>
{% endblock %}
