{% extends "base.html" %} 
{% block title %}Edit profile{% endblock %} 
{% block content %}
<div class="form-section">
    <form method="POST">
        <h2 class="form-header">Edit Profile</h2>
        <label class="sr-text" for="username"
          >Change username:</label
        >
        <input
          class="form-input-bubble"
          type="text"
          placeholder="Username"
          id="change-username"
          name="change-username"
        />
        <br>
        <label class="sr-text" for="bio-change">Change Bio:</label>
        <input
          class="bio-bubble"
          type="text"
          placeholder="Enter new bio."
          id="bio-change"
          name="bio-change"
        />
        <br>
        <label class="sr-text" for="change-image">Select new profile photo:</label>
        <input 
            type="image" 
            alt="Select image"
            id="change-image"
            name="change-image"
        />
        <br>
        <input
          class="btn-submit"
          type="submit"
          value="submit"
        />
    </form>
</div>
{% endblock %}