{% extends "base.html" %} {% block title %}FAQs{%
  endblock %} {% block content %}
  <div class="home">
    <div class="particle-container">
      <div class="particles">
        <span style="--i: 11"></span>
        <span style="--i: 14"></span>
        <span style="--i: 17"></span>
        <span style="--i: 12"></span>
        <span style="--i: 18"></span>
        <span style="--i: 23"></span>
        <span style="--i: 10"></span>
        <span style="--i: 21"></span>
        <span style="--i: 19"></span>
        <span style="--i: 7"></span>
        <span style="--i: 24"></span>
        <span style="--i: 22"></span>
        <span style="--i: 15"></span>
        <span style="--i: 27"></span>
        <span style="--i: 20"></span>
        <span style="--i: 18"></span>
        <span style="--i: 10"></span>
        <span style="--i: 26"></span>
        <span style="--i: 20"></span>
        <span style="--i: 13"></span>
        <span style="--i: 15"></span>
        <span style="--i: 8"></span>
        <span style="--i: 24"></span>
        <span style="--i: 15"></span>
        <span style="--i: 16"></span>
        <span style="--i: 12"></span>
        <span style="--i: 19"></span>
        <span style="--i: 15"></span>
        <span style="--i: 9"></span>
        <span style="--i: 18"></span>
        <span style="--i: 23"></span>
        <span style="--i: 10"></span>
        <span style="--i: 21"></span>
        <span style="--i: 19"></span>
        <span style="--i: 7"></span>
        <span style="--i: 24"></span>
        <span style="--i: 22"></span>
        <span style="--i: 15"></span>
        <span style="--i: 27"></span>
        <span style="--i: 6"></span>
        <span style="--i: 11"></span>
        <span style="--i: 14"></span>
        <span style="--i: 17"></span>
        <span style="--i: 12"></span>
        <span style="--i: 20"></span>
        <span style="--i: 18"></span>
        <span style="--i: 10"></span>
        <span style="--i: 26"></span>
        <span style="--i: 20"></span>
        <span style="--i: 13"></span>
        <span style="--i: 15"></span>
        <span style="--i: 8"></span>
        <span style="--i: 24"></span>
        <span style="--i: 15"></span>
        <span style="--i: 16"></span>
        <span style="--i: 12"></span>
        <span style="--i: 19"></span>
        <span style="--i: 15"></span>
        <span style="--i: 9"></span>
        <span style="--i: 6"></span>
        <span style="--i: 24"></span>
        <span style="--i: 22"></span>
        <span style="--i: 15"></span>
        <span style="--i: 27"></span>
        <span style="--i: 6"></span>
      </div>
      <h1>Frequently Asked Questions</h1>
      <div class="faq-item">
        <h2>What is Bountify?</h2>
        <p>
          Bountify is a dynamic platform designed to
          facilitate mercenary and trade
          opportunities across a fictional galaxy.
          It aims to empower users by providing
          direct access to lucrative missions, trade
          deals, and a vibrant community of fellow
          adventurers.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>How do I sign up?</h2>
        <p>
          To sign up, click on the "Sign Up" tab on
          the bottom left of the homepage. Fill in
          the required information, such as your
          email, username, and password, and then
          submit the form. You should be able to log
          in if your inputs are valid.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>How can I post a bounty?</h2>
        <p>
          Once you are logged in, navigate to the
          "Add Bounty" section from the main menu.
          Fill out the details of the bounty you
          want to post, including the target, price,
          and any additional information. After
          submitting the form, your bounty will be
          listed for other users to see.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>
          What are the rules for buying and selling
          weapons?
        </h2>
        <p>
          Users can buy and sell weapons in the
          marketplace. Ensure that the items you
          list comply with the platform's
          guidelines, such as acceptable file
          formats and size limits for images. Follow
          the instructions on the marketplace page
          to list your items for sale.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>
          How does the reputation system work?
        </h2>
        <p>
          Each user has a profile where their
          achievements and activities are tracked.
          As you complete missions and engage with
          the community, you will earn reputation
          points. Higher reputation levels will
          grant you more rewards and opportunities
          to improve your standing in the community.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>How can I contact support?</h2>
        <p>
          If you need assistance or have any
          questions, you can contact our support
          team through our email listened on the
          About Us page.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>Is there a mobile app for Bountify?</h2>
        <p>
          Currently, Bountify is accessible through
          a web browser on both desktop and mobile
          devices. We are working on developing a
          mobile app for a more seamless experience
          on smartphones and tablets.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>How do I edit my profile?</h2>
        <p>
          To edit your profile, log in and navigate
          to the "Profile" section. Click on "Edit
          Profile" and update your information as
          needed. Don't forget to save your changes
          before exiting the page!
        </p>
      </div>
  
      <div class="faq-item">
        <h2>Can I delete my account?</h2>
        <p>
          If you wish to delete your account, please
          contact our support team through the email
          provided in the "About Us" page. Provide
          your account details and the reason for
          deletion. Our team will process your
          request as soon as possible.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>
          What should I do if I encounter a bug or
          issue?
        </h2>
        <p>
          If you encounter any bugs or issues while
          using Bountify, please report them through
          the email provided in the "About Us" page.
          Provide as much detail as possible,
          including steps to reproduce the issue, so
          our team can address it promptly.
        </p>
      </div>
  
      <div class="faq-item">
        <h2>
          Are there any fees for using Bountify?
        </h2>
        <p>
          Signing up and browsing the platform is
          free. However, there may be transaction
          fees for certain services or premium
          features. Details of any applicable fees
          will be provided at the time of the
          transaction.
        </p>
      </div>
    </div>
    {% endblock %}
  </div>
  