{% extends "base.html" %} {% block title %}
Bountify {% endblock %} {% block content %}
<div class="splash invis">
	<h1
		class="jumble splashtitle splashAnimation"
		data-value="BOUNTIFY">
		BOUNTIFY
	</h1>
</div>
<div class="home">
	<div class="particle-container">
		<div class="particles">
			<span style="--i: 11"></span>
			<span style="--i: 14"></span>
			<span style="--i: 17"></span>
			<span style="--i: 12"></span>
			<span style="--i: 18"></span>
			<span style="--i: 23"></span>
			<span style="--i: 10"></span>
			<span style="--i: 21"></span>
			<span style="--i: 19"></span>
			<span style="--i: 7"></span>
			<span style="--i: 24"></span>
			<span style="--i: 22"></span>
			<span style="--i: 15"></span>
			<span style="--i: 27"></span>
			<span style="--i: 20"></span>
			<span style="--i: 18"></span>
			<span style="--i: 10"></span>
			<span style="--i: 26"></span>
			<span style="--i: 20"></span>
			<span style="--i: 13"></span>
			<span style="--i: 15"></span>
			<span style="--i: 8"></span>
			<span style="--i: 24"></span>
			<span style="--i: 15"></span>
			<span style="--i: 16"></span>
			<span style="--i: 12"></span>
			<span style="--i: 19"></span>
			<span style="--i: 15"></span>
			<span style="--i: 9"></span>
			<span style="--i: 18"></span>
			<span style="--i: 23"></span>
			<span style="--i: 10"></span>
			<span style="--i: 21"></span>
			<span style="--i: 19"></span>
			<span style="--i: 7"></span>
			<span style="--i: 24"></span>
			<span style="--i: 22"></span>
			<span style="--i: 15"></span>
			<span style="--i: 27"></span>
			<span style="--i: 6"></span>
			<span style="--i: 11"></span>
			<span style="--i: 14"></span>
			<span style="--i: 17"></span>
			<span style="--i: 12"></span>
			<span style="--i: 20"></span>
			<span style="--i: 18"></span>
			<span style="--i: 10"></span>
			<span style="--i: 26"></span>
			<span style="--i: 20"></span>
			<span style="--i: 13"></span>
			<span style="--i: 15"></span>
			<span style="--i: 8"></span>
			<span style="--i: 24"></span>
			<span style="--i: 15"></span>
			<span style="--i: 16"></span>
			<span style="--i: 12"></span>
			<span style="--i: 19"></span>
			<span style="--i: 15"></span>
			<span style="--i: 9"></span>
			<span style="--i: 6"></span>
			<span style="--i: 24"></span>
			<span style="--i: 22"></span>
			<span style="--i: 15"></span>
			<span style="--i: 27"></span>
			<span style="--i: 6"></span>
		</div>
	</div>
	<!-- <img class="back-img" src="deathstar.png" alt=""> -->
	<div class="scroll">
		<h1 class="bountify">BOUNTIFY</h1>
		<h1 class="star-text">
			Harness the hunt. <br>
			Unleash your potential. <br>
			Embrace the rewards.
		</h1>
		<p class="description">
			Access a wealth of mercenary and trade
			opportunities from across the galaxy, <br>
			putting the power to profit directly in your
			hands amidst the endless expanse of space.
		</p>

		<p class="button-desc">Ready to go?</p>
    {% if current_user.is_authenticated %}
    <form action="{{ url_for('routes.browse') }}" method="GET">
		<button
      	type="submit"
      	class="btn-prominent"
    	>
			Explore the forum
		</button>
	</form>
    {% else %}
    <form action="{{ url_for('auth.login') }}" method="GET">
		<button
      	type="submit"
      	class="btn-prominent"
    	>
			Explore the forum
		</button>
	</form>
    {% endif %}
	</div>

  <div class="scroll">
	<div class="home-card">
		<div class="home-card-content">
			<h1 class="star-text">
			Engage with the Galaxy
			</h1>
			<p class="description">
			Join millions of user as they post and accept bounties, buy and sell weapons,<br>
			and interact with a community of like-minded individuals. <br> <br>
			Whether you're looking for the next big hunt or the perfect trade, <br>
			Bountify is your gateway to the Star Wars universe.
			</p>
		</div>
		<div class="home-card-images">
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/lightbringer.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/sith.jpg" alt="Bountify Member">
		</div>
		<div class="overflow-image">
			<img class="image-card" src="../static/images/person.jpg" alt="Bountify Member">
		</div>
		</div>
	</div>
  </div>

  <div class="scroll">
    <h1 class="star-text">
      Your Next Adventure Awaits
    </h1>
    <p class="description">
      Join a thriving community where your skills and courage will lead you to great rewards. <br>
	  The galaxy is full of opportunities - seize them now!
    </p>
  </div>

  <div class="scroll">
    <h1 class="star-text">Connect with Fellow Mercenaries</h1>
    <p class="description">Share your experiences, learn from others, and grow your reputation in the galaxy. Your journey is just beginning.</p>
  </div>
</div>
{% endblock %}
