{% extends "base.html" %} 

{% block title %}
Bountify 
{% endblock %} 

{% block content %}
<div class="splash invis">
  <h1
    class="jumble splashtitle splashAnimation"
    data-value="BOUNTIFY"
  >
    BOUNTIFY
  </h1>
</div>

<div class="home">
  <!-- <img class="back-img" src="deathstar.png" alt=""> -->
  <div class="scroll">
    <h1 class="bountify">BOUNTIFY</h1>
    <h1 class="star-text">
      Harness the hunt. <br />
      Unleash your potential. <br />
      Embrace the rewards.
    </h1>
    <p class="description">
      Access a wealth of mercenary and trade
      opportunities from across the galaxy, <br />
      putting the power to profit directly in your
      hands amidst the endless expanse of space.
    </p>
    <p class="button-desc">Ready to go?</p>
    {% if current_user.is_authenticated %}
    <form action="{{ url_for('routes.browse') }}" method="GET">
    {% else %}
    <form action="{{ url_for('auth.login') }}" method="GET">
    {% endif %}
    <button
      type="submit"
      class="btn-prominent"
    >
      Explore the forum
    </button>
  </form>
  </div>

  <div class="scroll">
    <h1 class="star-text">
      Engage with the Galaxy
    </h1>
    <p class="description">
      Post and accept bounties, buy and sell weapons, and interact with a community of mercenaries. 
      Whether you're looking for the next big hunt or the perfect trade, Bountify is your gateway to the Star Wars universe.
    </p>
  </div>

  <div class="scroll">
    <h1 class="star-text">
      Your Next Adventure Awaits
    </h1>
    <p class="description">
      Join a thriving community where your skills and courage will lead you to great rewards. The galaxy is full of opportunities - seize them now!
    </p>
  </div>

  <div class="scroll">
    <h1 class="star-text">Connect with Fellow Mercenaries</h1>
    <p class="description">Share your experiences, learn from others, and grow your reputation in the galaxy. Your journey is just beginning.</p>
  </div>
</div>

{% endblock %}
