{% extends "base.html" %} {% block title %} Bountify {% endblock %} {% block
content %}
<div class="splash invis">
  <h1 class="jumble splashtitle splashAnimation" data-value="BOUNTIFY">
    BOUNTIFY
  </h1>
</div>

<div class="home">
  <div class="particle-container">
    <div class="particles">
      <span style="--i: 11"></span>
      <span style="--i: 14"></span>
      <span style="--i: 17"></span>
      <span style="--i: 12"></span>
      <span style="--i: 18"></span>
      <span style="--i: 23"></span>
      <span style="--i: 10"></span>
      <span style="--i: 21"></span>
      <span style="--i: 19"></span>
      <span style="--i: 7"></span>
      <span style="--i: 24"></span>
      <span style="--i: 22"></span>
      <span style="--i: 15"></span>
      <span style="--i: 27"></span>
      <span style="--i: 20"></span>
      <span style="--i: 18"></span>
      <span style="--i: 10"></span>
      <span style="--i: 26"></span>
      <span style="--i: 20"></span>
      <span style="--i: 13"></span>
      <span style="--i: 15"></span>
      <span style="--i: 8"></span>
      <span style="--i: 24"></span>
      <span style="--i: 15"></span>
      <span style="--i: 16"></span>
      <span style="--i: 12"></span>
      <span style="--i: 19"></span>
      <span style="--i: 15"></span>
      <span style="--i: 9"></span>
      <span style="--i: 18"></span>
      <span style="--i: 23"></span>
      <span style="--i: 10"></span>
      <span style="--i: 21"></span>
      <span style="--i: 19"></span>
      <span style="--i: 7"></span>
      <span style="--i: 24"></span>
      <span style="--i: 22"></span>
      <span style="--i: 15"></span>
      <span style="--i: 27"></span>
      <span style="--i: 6"></span>
      <span style="--i: 11"></span>
      <span style="--i: 14"></span>
      <span style="--i: 17"></span>
      <span style="--i: 12"></span>
      <span style="--i: 20"></span>
      <span style="--i: 18"></span>
      <span style="--i: 10"></span>
      <span style="--i: 26"></span>
      <span style="--i: 20"></span>
      <span style="--i: 13"></span>
      <span style="--i: 15"></span>
      <span style="--i: 8"></span>
      <span style="--i: 24"></span>
      <span style="--i: 15"></span>
      <span style="--i: 16"></span>
      <span style="--i: 12"></span>
      <span style="--i: 19"></span>
      <span style="--i: 15"></span>
      <span style="--i: 9"></span>
      <span style="--i: 6"></span>
      <span style="--i: 24"></span>
      <span style="--i: 22"></span>
      <span style="--i: 15"></span>
      <span style="--i: 27"></span>
      <span style="--i: 6"></span>
    </div>
  </div>
  <!-- <img class="back-img" src="deathstar.png" alt=""> -->
  <div class="scroll">
    <h1 class="bountify">BOUNTIFY</h1>
    <h1 class="star-text">
      Harness the hunt. <br />
      Unleash your potential. <br />
      Embrace the rewards.
    </h1>
    <p class="description">
      Access a wealth of mercenary and trade opportunities from across the
      galaxy, <br />
      putting the power to profit directly in your hands amidst the endless
      expanse of space.
    </p>
    <p class="button-desc">Ready to go?</p>
    <button
      type="button"
      class="btn-prominent"
      onclick="window.location.href='browse.html';"
    >
      Explore the forum
    </button>
  </div>

  <div class="scroll">
    <h1 class="star-text">Look at all those chickens</h1>
    <p class="description">hahahaa no no no no no mama mmia let me go</p>
  </div>

  <div class="scroll">
    <h1 class="star-text">Baby i can see your halo</h1>
    <p class="description">
      im the baaaad guy... duh. womp womp wompwompwomp womp womp
    </p>
  </div>

  <div class="scroll">
    <h1 class="star-text">BomBaStiC SIdE eYE</h1>
    <p class="description">CAN I GET A HOYAAA</p>
  </div>
</div>

{% endblock %}
