{%extends "base.html"%} {% block title %}Log In{%
endblock %} {% block content %}
<div class="form-section">
  <form method="POST">
    <h2 class="form-header">Login</h2>
    <label class="sr-text" for="email"
      >Email:</label
    >
    <input
      class="form-input-bubble"
      type="email"
      placeholder="Email"
      id="email"
      name="email"
      placeholder="Enter email"
      required
    />
    <br />
    <label class="sr-text" for="password"
      >Password:</label
    >
    <input
      class="form-input-bubble"
      type="password"
      placeholder="Password"
      id="password"
      name="password"
      required
    />
    <br />
    <input
      class="btn-submit"
      type="submit"
      value="Submit"
    />
    <br />
    <p class="center">
      Not a member?
      <span>
        <a href="signup.html">Sign up</a></span
      >
    </p>
  </form>
</div>
{% endblock %}
