{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}

<div class="home">
  <br>
  <div>
    <h1 class="star-text">Welcome to the Marketplace</h1>
    <p class="description">This marketplace is dedicated to selling weapons. <br> <a href="{{ url_for('routes.sell') }}">Add Item to Market</a> </p>
  </div>
    <div class="forum-section">
      <div class="post-container">
          <div class="row">
        {% for post in posts %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="postbubble">
              <img src="{{ url_for('static', filename='/images/sellpics/' + post.img) }}" alt="weapon img" />
              <div class="screen-overlay overlay-animation">
                <div class="posttext">
                  <div class="posttitle">
                    <a href="/post/{{ post.pid }}">
                      {{ post.title }}
                    </a>
                  </div>
                  <div class="author">
                    <img src="{{ url_for('static', filename='/images/profilepics/' + post.user.avatar) }}" class="small_avatar" alt="avatar" style="width: 10px;"/>
                    {% if post.user.uid != current_user.uid %}
                    <a href= "/view-other-userpf/{{ post.user.uid }}">
                      {{ post.user.username }}
                      {% else %}
                    <a href="/profile">
                      {{ post.user.username }}
                      {% endif %}
                    </a>
                  </div>
                  <div class="postcontent">
                    <p>{{ post.desc }}</p>
                    <p>Price: ${{ post.price }}</p>
                  </div>
                  <a href="{{ url_for('routes.purchase', sid=post.sid) }}" class="btn-prominent purchase-btn center">
                    Purchase
                  </a>
                </div>
                <div class="reactbar">
                  <button id="commentButton" class="reactbutton">
                    <i class="fa fa-commenting-o fa-lg"></i>
                  </button>
                  <span id="commentCount" class="reactnumber">0</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
              
