{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}

<div class="home">
  <br>
    <h1 class="star-text">Welcome to the Marketplace</h1>
    <p class="description">This marketplace is dedicated to selling weapons.</p>

    <a href="{{ url_for('routes.sell') }}" class="add-market-btn">Add Item to Market</a>
    <div class="forum-section">
      <div class="post-container">
          <div class="row">
        {% for post in posts %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="postbubble">
              <img src="{{ url_for('static', filename='/images/sellpics/' + post.img) }}" alt="weapon img" />
              <div class="screen-overlay overlay-animation">
                <div class="posttext">
                  <div class="posttitle">
                      {{ post.title }}
                    </a>
                  </div>
                  <div class="author">
                    <img src="{{ url_for('static', filename='/images/profilepics/' + post.user.avatar) }}" class="small_avatar" alt="avatar" style="width: 10px;"/>
                    {% if post.user.uid != current_user.uid %}
                    <a href= "/view-other-userpf/{{ post.user.uid }}">
                      {{ post.user.username }}
                      {% else %}
                    <a href="/profile">
                      {{ post.user.username }}
                      {% endif %}
                    </a>
                  </div>
                  <div class="postcontent">
                    <p>{{ post.desc }}</p>
                    <p>Price: ${{ post.price }}</p>
                  </div>
                  {% if post.user.uid != current_user.uid%}
                  <button class="btn-prominent">
                    <a
                      href="{{ url_for('routes.purchase', sid=post.sid) }}"
                      class="purchase-btn"
                    >Purchase
                    </a>
                    {% endif %}
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
              
