{% extends "base.html" %} {% block title %} Browse {% endblock %} {% block
content %}

<div class="post-container text-center">
<div class="comments-container">
    <h1>Comments</h1>

    <p>{{ post.title }}</p>
    <p>{{ post.desc }}</p>
    <img src="{{ url_for('static', filename='images/posts/' + post.img_filename) }}" alt="Post Image" width="200" height="150">
    

    {% for comment in comments %}
        <div class="comment">
            <div class="username">{{ comment.user.username }} {{ comment.timestamp }}</div>
            <p>{{ comment.comment }}</p>
        </div>
    {% endfor %}
</div>

<!-- Comment Section -->
<div class="add-comment">
    <form method="post" onsubmit="event.preventDefault();">
        <textarea name="comment" placeholder="Add comments"></textarea>
        <button type="submit" onclick="document.forms[0].submit();">Add Comment</button>
    </form>
</div>

</div>
{% endblock %}