{% extends "base.html" %} {% block title %}Purchase Time{% endblock %} {% block
content %}

<div class="post-container text-center">
  <h1>Purchase Confirm</h1>
  <p>Are you sure you want to buy this?</p>
  <p>{{post_wanted.title}}</p>
  <p>{{post_wanted.price}}</p>
  <img
    src="{{ url_for('static', filename='/images/sellpics/' + post_wanted.img) }}"
    class="avatar"
    alt="avatar"
    width="25"
    height="25"
  >
  <form
    action="{{ url_for('routes.purchase_confirmation', sid=post_wanted.sid) }}"
    method="POST"
  >
    <input type="submit" value="Yass queen!!!" class="purchase-btn">
  </form>
</div>
{% endblock %}
