{% extends "base.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
<div class="lb-container">
  <h1 class="pagetitle">Leaderboard</h1>
</div>
<div class="form-section">
  <div class="lb">
    <div style="text-align:center">
      Rank
    </div>
    <div>
      Profile Picture
    </div>
    <div>
      Username
    </div>
    <div>
      Email
    </div>
    <div style="text-align:center">
      Promotions
    </div>
  </div>
  <br>
  <!-- Loop through users and display their info -->
  {% for user in highest_promoted %}
  <div class="lb">
    <div style="text-align:center">
      {{ loop.index }}
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/profilepics/' ~ user.avatar) }}" alt="Profile Picture" width="50" height="50">
    </div>
    <div>
      {{ user.username }}
    </div>
    <div>
      {{ user.email }}
    </div>
    <div style="text-align:center">
      {{ user.promote }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
