{% extends "base.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
<div class="lb-container">
    <h1 class="pagetitle">Leaderboard</h1>
</div>
<div class="home">
    <div class="lb">
        <div class="lb-border"></div>
        <div class="lb-content">
            <div class="center">Rank</div>
            <div>Profile Picture</div>
            <div class="center">Username</div>
            <div class="center">Email</div>
            <div class="center">Promotions</div>
        </div>
    </div>
    <br>
    <!-- Loop through users and display their info -->
    {% for person in highest_promoted %}
    <div class="lb">
        <div class="lb-border"></div>
        <div class="lb-content">
            <div class="center">{{ loop.index }}</div>
            <div>
                <img
                    class="small-avatar"
                    src="{{ url_for('static', filename='images/profilepics/' ~ person.avatar) }}"
                    alt="Profile Picture"
                    width="50"
                    height="50">
            </div>
            <div class="center">
                {% if person.uid == current_user.uid %}
                <a href="{{ url_for('routes.profile') }}">{{ person.username }}</a>
                {% else %}
                <a href="{{ url_for('routes.view_userpf', user_id=person.uid) }}">{{ person.username }}</a>
                {% endif %}
            </div>
            <div class="center">{{ person.email }}</div>
            <div class="center">{{ person.promote }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
