{%extends "base.html"%} {% block title %}Ranking{%
endblock %} {% block content %}
<div class="lb-container">
  <h1 class="pagetitle">Leaderboard</h1>
</div>
<div class="form-section">
  <div class="lb">
    <div style="text-align:center">
      Rank
    </div>
    <div>
      Title
    </div>
    <div>
      Author
    </div>
    <div style="text-align:center">
      Likes
    </div>
    <div style="text-align:center">
      Comments
    </div>
  </div>
  <br>
  <!--for-->
  <div class="lb">
    <div style="text-align:center">
      1
    </div>
    <div>
      Title1
    </div>
    <div>
      Author1
    </div>
    <div style="text-align:center">
      0
    </div>
    <div style="text-align:center">
      0
    </div>
  </div>
  <!--endfor-->
  <div class="lb">
    <div style="text-align:center">
      2
    </div>
    <div>
      Title2
    </div>
    <div>
      Author2
    </div>
    <div style="text-align:center">
      0
    </div>
    <div style="text-align:center">
      0
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
