{% extends "base.html" %} {% block title %}{{
user.username }}{% endblock %} {% block content %}
<div class="form-section">
	<h1>Sell Your Weapon</h1>
	<form
		method="POST"
		enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<label for="weapon_title"
			>{{ form.weapon_title.label }}</label
		>
		{{ form.weapon_title(class="form-control") }}
		{% for error in form.weapon_title.errors %}
		<span style="color: red">[{{ error }}]</span>
		{% endfor %}

		<label for="weapon_price"
			>{{ form.weapon_price.label }}</label
		>
		{{ form.weapon_price(class="form-control") }}
		{% for error in form.weapon_price.errors %}
		<span style="color: red">[{{ error }}]</span>
		{% endfor %}

		<label for="weapon_description"
			>{{ form.weapon_description.label }}</label
		>
		{{
		form.weapon_description(class="form-control")
		}} {% for error in
		form.weapon_description.errors %}
		<span style="color: red">[{{ error }}]</span>
		{% endfor %}

		<label for="weapon_image"
			>{{ form.weapon_image.label }}</label
		>
		{{ form.weapon_image(class="form-control") }}
		{% for error in form.weapon_image.errors %}
		<span style="color: red">[{{ error }}]</span>
		{% endfor %} {{ form.submit(class="btn
		btn-primary") }}
	</form>
</div>
{% endblock %}
