{% extends "base.html" %} {% block title %} Sign
Up {% endblock %} {% block content %}
<div class="form-section">
  <form method="POST">
    <h2 class="form-header">Sign Up</h2>
    <label class="sr-text" for="email"
      >Email:</label
    >
    <input
      class="form-input-bubble"
      type="text"
      placeholder="Email"
      id="email"
      name="email"
      required
    /><br />
    <label class="sr-text" for="firstName"
      >First name:</label
    >
    <input
      class="form-input-bubble"
      type="text"
      placeholder="Username"
      id="firstName"
      name="firstName"
      required
    /><br />
    <label class="sr-text" for="password1"
      >Password:</label
    >
    <input
      class="form-input-bubble"
      type="password"
      placeholder="Password"
      id="password1"
      name="password1"
      required
    /><br />
    <label class="sr-text" for="password2">Bio:</label>
    <input
      class="form-input-bubble"
      type="password"
      placeholder="Write a description here."
      id="password2"
      name="password2"
    /><br />
    <br />
    <input
      class="btn-submit"
      type="submit"
      value="submit"
    />
  </form>
</div>
{% endblock %}
