{%extends "base.html"%} {% block title %}Submit{% endblock %} {% block content
%}
<div class="form-section">
  <form action="" method="POST" enctype="multipart/form-data">
    <h2 class="form-header">Submit a post</h2>
    <label class="sr-text" for="target">Target:</label>
    <input
      placeholder="Target Name"
      class="form-input-bubble"
      type="text"
      id="target"
      name="target"
    /><br />
    <label for="image">Upload Image:</label>
    <br />
    <input
      class="form-input-bubble"
      type="file"
      name="image"
      id="image"
    /><br />
    <label class="sr-text" for="tinfo">Target Information:</label>
    <input
      placeholder="Target Information"
      class="form-input-bubble"
      type="text"
      id="tinfo"
      name="tinfo"
    /><br />
    <input class="btn-submit" type="submit" value="submit" />
  </form>
</div>
{% endblock %}
