{%extends "base.html"%} {% block title %}Submit{%
endblock %} {% block content %}

<div class="form-section">
  <form
    action=""
    method="POST"
    enctype="multipart/form-data"
    id="post-submit"
  >
    <h2 class="form-header">Submit a post</h2>
    <label class="sr-text" for="target"
      >Title:</label
    >
    <input
      placeholder="Target Name"
      class="form-input-bubble"
      type="text"
      id="target"
      name="target"
    /><br />
    <label for="image" class="label"
      >Upload Image:</label
    >
    <br />
    <input
      class="form-input-bubble"
      type="file"
      name="image"
      id="image"
    /><br />
    <label class="sr-text" for="tinfo"
      >Post Description:</label
    >
    <textarea
      placeholder="Target Information"
      class="form-input-bubble"
      id="tinfo"
      name="tinfo"
    ></textarea
    ><br />
    <label class="sr-text" for="tags"
      >Tags:</label
    >
    <select
      class="form-input-bubble"
      type="dropdown"
      id="tags"
      name="tags"
    >
      <option value="Bounty">Bounty</option>
      <option value="Weapon">Weapon</option>
      <option value="Advice">Advice</option>
    </select>
    <br />
    <input
      class="btn-submit"
      type="submit"
      value="Submit"
    />
  </form>
</div>
{% endblock %}
