{% extends "base.html" %}
{% block title %} Browse {% endblock %}
{% block content %}
<div class="intro-section">
    <div class="forum-section">
        <!-- Center-align post container -->
        <div class="post-container text-center">
            <div class="row justify-content-center">

              <!-- User Name -->
    <div class="username">
      {{ userinfo.username }}
  </div>
</div>

<!-- Heading for User Posts -->
<div class="user-posts text-center">
  User Posts
  {% if  not promoted_by_current_user %}
  <button id="updateButton" class="updateButton" onclick="toggleUpdate(this, {{ userinfo.uid }})">Promote Me</button>
  {% else %}
  <button id="updateButton" class="updateButton" onclick="toggleUpdate(this, {{ userinfo.uid }})">Promoted</button>
  {% endif %}
</button>
<span id="promotionCount">{{ userinfo.promote }}</span>
<img src="../static/images/ranks/{{ userinfo.rank }}.png" class="rank-img" />
</div>
                <!-- User Posts -->
                {% for post in posts %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="postbubble">
                        <img src="{{ url_for('static', filename='/images/posts/' + post.img_filename) }}" alt="Post Image" />
                        <div class="screen-overlay overlay-animation">
                            <div class="posttext">
                                <div class="posttitle">{{ post.title }}</div>
                                <div class="postauthor">
                                    <!-- link to post.html -->
                                    <a href="/post/{{ post.pid }}">
                                        <button id="postbutton" class="postbutton">View</button>
                                    </a>
                                </div>
                                <div class="postcontent">{{ post.desc}}</div>
                            </div>
                            <div class="reactbar">
                                <button id="likeButton" class="reactbutton" onclick="toggleLike('likeCount', 'likeIcon', true)">
                                    <i id="likeIcon" class="fa fa-thumbs-o-up fa-lg"></i>
                                </button>
                                <span id="likeCount" class="reactnumber">0</span>
                                <button id="dislikeButton" class="reactbutton" onclick="toggleLike('dislikeCount', 'dislikeIcon', false)">
                                    <i id="dislikeIcon" class="fa fa-thumbs-o-down fa-lg"></i>
                                </button>
                                <span id="dislikeCount" class="reactnumber">0</span>
                                <button id="commentButton" class="reactbutton">
                                    <i class="fa fa-commenting-o fa-lg"></i>
                                </button>
                                <span id="commentCount" class="reactnumber">0</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Center-align Profile Picture and Username -->
<div class="text-center">
    <!-- User Profile Picture -->
    <div class="profile-picture">
        <img src="{{ url_for('static', filename='/images/profilepics/' + userinfo.avatar) }}" width="50" height="50" alt="User Profile Picture">
    </div>

{% endblock %}
